<div class="main-search">
  <div class="bg-layout"></div>
  <img [src]="bgImage" class="bg">
  <div class="main-search-titles">
    <div class="main-search-title">Pet Care</div>
    <div class="main-search-subtitle">Cuidamos de tu perro como lo harías tú</div>
  </div>
  <div class="main-search-box shadow-sm">
    <div class="tabs">
        <div class="tab" (click)="tabSelected = 0" [class.active]="tabSelected == 0">Alojamiento</div>
        <div class="tab" (click)="tabSelected = 1" [class.active]="tabSelected == 1">Paseo</div>
        <div class="tab" (click)="tabSelected = 2" [class.active]="tabSelected == 2">Guardería</div>
        <div class="tab" (click)="tabSelected = 3" [class.active]="tabSelected == 3">Cuidador</div>
    </div>
    <div class="tabs-content">
      <div class="tabs-content-body">
        <div class="calendar-card">
          <div class="row">
            <div class="col-4">
              <label>Dirección</label>
              <input type="text" class="form-control" placeholder="Ciudad, municipio, barrio..." style="padding: 1.5rem .75rem;font-size:1.2rem;">
            </div>
            <div class="col-4">
              <label>Cuando</label>
              <input type="text" class="form-control" placeholder="Cuando" style="padding: 1.5rem .75rem;font-size:1.2rem;">
            </div>
          </div>
        </div>
      </div>
      <div class="tabs-content-footer">
        <button class="btn btn-success float-right" (click)="search()">Buscar&nbsp;<i class="eva eva-search-outline"></i></button>
      </div>
    </div>
  </div>
</div>
